:host {
    .input-group {
        * {
            color: #ffffff;
        }
        .form-control {
            border: 0px !important;
        }
        button {
            border: 0px !important;
        }
    }
}